.p-card {
  border-radius: 20px;
  box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
}
// .p-card:hover {
//   transition: 0.8s;
//   box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
// }
.flex {
  display: flex;
}
.width-graph {
  margin-left: 1.5rem;
}
@media screen and(max-width: 500px) {
  .width {
    margin-left: 0.5rem;
  }
}
