<p-card *ngIf="!isLoading">
  <p-chart
    *ngIf="!apiError; else error"
    type="bar"
    [data]="data"
    height="300px"
  ></p-chart>
  <ng-template #error>
    Api error <br />
    please try later <br />
    you can install the coors error extension to resolve the coros
    error</ng-template
  >
</p-card>
<p-card *ngIf="isLoading">
  <div class="flex align-items-end">
    <p-skeleton width="6rem" height="300px" class="width-graph"></p-skeleton>
    <p-skeleton width="6rem" height="200px" class="width-graph"></p-skeleton>
    <p-skeleton width="6rem" height="300px" class="width-graph"></p-skeleton>
  </div>
</p-card>
