<!-- <div class="bg-image"></div>
<div class="row bg-text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos,
  perspiciatis excepturi, alias amet in distinctio doloribus porro repudiandae
  qui facere aliquam non modi dolorum reprehenderit quasi odio unde beatae!
</div> -->
<div class="container">
  <div class="row">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga a delectus
    vitae rerum quo minus dolorum, vel dolore, dolorem officiis commodi, numquam
    nostrum adipisci eaque sunt dignissimos ea? Iure, sit!
  </div>
  <div class="row">
    <ul>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
    </ul>
  </div>
</div>
