<div class="container">
  <h1 class="text-center">Analysis</h1>
  <ul>
    <li>
      <div class="row section">
        <p>
          With the increase in online education, the number of platforms
          supporting question answer forums are increasing. Out of platforms
          like Stack Overflow, Coursera, Quora, Stack Overflow is one of the
          most popular online question-answer forums and there is a huge amount
          of information in this forum. So, to make the system efficient, it is
          very necessary to detect the class to which a particular piece of
          information belongs to.
          <span class="bold">This detection is called tagging.</span>
          It helps in easy retrieval and organization of data. Our project aims
          at developing a system for autonomously detecting the tags of Stack
          Overflow questions using NLP and Machine Learning.
        </p>
      </div>
    </li>
    <li>
      <div class="row section">
        <p>
          The size of the data is a hindrance to improve the system. Currently,
          websites like Quora are expecting users to manually enter the tags
          related to their queries. But, manual tagging is a difficulty for the
          end user and causing poor user experience. This will benefit both the
          questioning and answering people.Answering people can choose the topic
          which they interset they can filter out the irrelevant question .And
          Question people can get the answers fast if tag is predict
        </p>
      </div>
    </li>
    <div class="col-md-8" style="margin: auto">
      <p-card *ngIf="!isLoading">
        <p-chart
          type="doughnut"
          [data]="data"
          height="400"
          *ngIf="!isApiFailed; else err"
        ></p-chart>
        <ng-template #err>
          <h3 class="text-center">Api error <i class="bi bi-bug"></i></h3>
          <br />
          <div style="text-align: left">
            <h6>Try refresing the page</h6>
            If this appeare again check in the console if you have CORS error if
            you have,You can install the CORS error extension to resolve the
            CORS error
            <br />
            Even then if you can't resolve the issue please contact us
          </div>
        </ng-template>
      </p-card>
      <p-card *ngIf="isLoading">
        <p-skeleton width="100%" height="2.5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
      </p-card>
    </div>
    <li>
      <div class="row section">
        <p>
          To solve this problem, we created a machine learning model using nlp.
          which is build on the data
          <span class="bold">collected the data from the kaggel.</span>
          The data optained from the kaggel has three fields title, body and the
          tag in csv format (title is the heading of the question and body is
          the discription of it) . there are
          <span class="bold">total of 6 millon records</span> in the dataset and
          the count of each tag is in the above donut chart.
        </p>
      </div>
    </li>
    <li>
      <div class="row section">
        <p>
          After the preprocessing the data, we are using a multi label
          classification system that makes use of Natural Language Processing
          and good classifier algorithms to label the questions on the forums
          with their appropriate tags autonomously. This auto-labelling
          framework makes it very easy for the users to find answers for the
          queries posted, given significant tags for the same.
        </p>
      </div>
    </li>
    <li>
      <div class="row section">
        <p>
          We have used this model in this website.In predict page user can paste
          their question and enter predict so that api will respond the user
          with the appropicate tag from the model . If it is unable to predict
          the tag then it will ask for more data to predict.
        </p>
      </div>
    </li>
  </ul>
  <!-- <hr style="border-top: 1px dashed red" /> -->
  This Project has a wide range of applications in multiple other websites that
  contain a lot of information or are question-answer based forums other than
  Stack Overflow like Quora, Coursera etc. Ultimately we can make such platforms
  capable of inferring the tags of posts autonomously and improve the user
  experience big time.
</div>
