.p-dock .p-dock-action {
  width: fit-content;
}
.p-dock-left .p-dock-list {
  border-top-right-radius: 59px;
  border-bottom-right-radius: 55px;
  // background-color: aliceblue;
  position: fixed;
  padding: 0;
  top: 15%;
  // bottom: 35%;
}
.box {
  padding-top: 6px;
  padding-left: 6px;
}
.data {
  padding-left: 120px;
}
.side {
  a {
    text-decoration: none !important;
  }
}
@media screen and(max-width: 600px) {
  .data {
    padding-left: 65px;
  }
}
.darkDock {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.lightDock {
  background-color: aliceblue;
}
