<h1 class="text-center">Introduction</h1>
<div class="container-fluid text-center intro">
  <div class="row section">
    Stack Overflow is one of the most popular online question-answer forums in
    the current generation and is growing to be the greatest question-answer
    gathering for programmers and software developers. Owing to the large amount
    of information in this forum, to improve the ease of user search, efficient
    tagging is very necessary. Tagging is the process of identifying the label
    or class to which the piece of information belongs to. Tagging helps in easy
    retrieval and organization of data. We present a project that performs
    tagging for various category of questions using Machine Learning and Natural
    Language Processing.
  </div>
  <h3>Steps we follow to predict the tag</h3>
  <p-timeline [value]="events" [align]="align" styleClass="customized-timeline">
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <p>
          {{ event.data.substring(0, 200) }}
          <span *ngIf="event.showMore; else totalData">...</span>
          <ng-template #totalData>
            {{ event.data.substring(200) }}
          </ng-template>
        </p>
        <button
          class="btn btn-outline-primary round-btn"
          (click)="toggle(event.id)"
        >
          {{ event.showMore ? "Show More" : "Show Less" }}
        </button>
      </p-card>
    </ng-template>
  </p-timeline>
  <div class="row">
    <h4>Code for the Project is in the Github Repository</h4>
    <div class="col-md-4" style="margin-bottom: 1rem">
      <a
        href="https://github.com/rohithreddydepa/majorProjectUi"
        style="text-decoration: none"
        ><p-chip label="Ui code" icon="pi pi-github"></p-chip>
      </a>
    </div>
    <div class="col-md-4" style="margin-bottom: 1rem">
      <a
        href="https://github.com/rohithreddydepa/majorProjectApi"
        style="text-decoration: none"
      >
        <p-chip label="Api code" icon="pi pi-github"></p-chip>
      </a>
    </div>
    <div class="col-md-4" style="margin-bottom: 1rem">
      <a
        href="https://github.com/aishwaryadevi4/MajorProjectML"
        style="text-decoration: none"
      >
        <p-chip label="Model code" icon="pi pi-github"></p-chip>
      </a>
    </div>
  </div>
</div>
