<h1 class="text-center">Introduction</h1>
<div class="container-fluid text-center">
  <div class="row section">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eveniet
    doloribus adipisci soluta tempore, debitis, quod, modi beatae sequi
    molestiae itaque consectetur ad recusandae totam aperiam cum veritatis
    quibusdam magni. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Consectetur fuga molestias, magnam delectus earum incidunt molestiae
    quisquam vel, corrupti impedit dolorem non sit veritatis expedita tempore.
    Quia nemo sit aliquid? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Modi at doloribus quae aut sequi, sit totam. Quam porro voluptatem hic
    repudiandae debitis dicta quidem praesentium perferendis laudantium eos,
    harum quia.
  </div>
  <div class="row">
    <div class="col-md-6" style="margin-bottom: 1rem">
      <a
        href="https://github.com/rohithreddydepa/majorProjectUi"
        style="text-decoration: none"
        ><p-chip label="Ui code" icon="pi pi-github"></p-chip>
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="https://github.com/rohithreddydepa/majorProjectApi"
        style="text-decoration: none"
      >
        <p-chip label="Model code" icon="pi pi-github"></p-chip>
      </a>
    </div>
  </div>
  <p-timeline [value]="events" [align]="align" styleClass="customized-timeline">
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <p>
          {{ event.data.substring(0, event.data.length / 2) }}
          <span *ngIf="event.showMore; else totalData">...</span
          ><ng-template #totalData>
            {{ event.data.substring(event.data.length / 2) }}</ng-template
          >
        </p>
        <button class="btn btn-outline-primary" (click)="toggle(event.id)">
          {{ event.showMore ? "Show More" : "Show Less" }}
        </button>
      </p-card>
    </ng-template>
  </p-timeline>
  <div class="row section">
    <h1>Technologies used</h1>
    <img
      src="../../assets/flask_icon_132389.svg"
      class="svg"
      alt="Flask"
      title="Flask"
    />
    <img
      src="../../assets/icons8-angularjs.svg"
      class="svg"
      alt="Angular"
      title="Angular"
    />
    <img
      src="../../assets/icons8-python.svg"
      class="svg"
      alt="Python"
      title="Python"
    />
  </div>
</div>
