<h1 class="text-center">Introduction</h1>
<div class="container-fluid text-center">
  <div class="row section">
    Stack Overflow is one of the most popular online question-answer forums in the 
current generation and is growing to be the greatest question-answer gathering for 
programmers and software developers. Owing to the large amount of information in this forum, 
to improve the ease of user search, efficient tagging is very necessary. Tagging is the process of identifying the label 
or class to which the piece of information belongs to. Tagging helps in easy retrieval and 
organization of data. We present a project that performs tagging for various category of questions using Machine Learning 
and Natural Language Processing.
  </div>
  <div class="row">
    <div class="col-md-6" style="margin-bottom: 1rem">
      <a
        href="https://github.com/rohithreddydepa/majorProjectUi"
        style="text-decoration: none"
        ><p-chip label="Ui code" icon="pi pi-github"></p-chip>
      </a>
    </div>
    <div class="col-md-6">
      <a
        href="https://github.com/rohithreddydepa/majorProjectApi"
        style="text-decoration: none"
      >
        <p-chip label="Model code" icon="pi pi-github"></p-chip>
      </a>
    </div>
  </div>
  <p-timeline [value]="events" [align]="align" styleClass="customized-timeline">
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <p>
          {{ event.data.substring(0, event.data.length / 2) }}
          <span *ngIf="event.showMore; else totalData">...</span
          ><ng-template #totalData>
            {{ event.data.substring(event.data.length / 2) }}</ng-template
          >
        </p>
        <button class="btn btn-outline-primary" (click)="toggle(event.id)">
          {{ event.showMore ? "Show More" : "Show Less" }}
        </button>
      </p-card>
    </ng-template>
  </p-timeline>
  <div class="row section">
    <h1>Technologies used</h1>
    <img
      src="../../assets/flask_icon_132389.svg"
      class="svg"
      alt="Flask"
      title="Flask"
    />
    <img
      src="../../assets/icons8-angularjs.svg"
      class="svg"
      alt="Angular"
      title="Angular"
    />
    <img
      src="../../assets/icons8-python.svg"
      class="svg"
      alt="Python"
      title="Python"
    />
  </div>
</div>
