.round {
  border-radius: 100px;
  font-size: 1.2rem;
}
.predictPage {
  padding: 2rem;
}
.predict-section {
  justify-content: center;
}
.msg {
  width: 25%;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 20px;
}
.p-inline-message.p-inline-message-error .p-inline-message-icon {
  display: none;
}
.p-inline-message.p-inline-message-error,
.p-inline-message.p-inline-message-success {
  width: 100%;
  justify-content: left;
  text-align: left;
}
.responsive {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}
@media screen and(max-width: 600px) {
  .responsive {
    width: 100%;
    height: auto;
  }
}
.row {
  .margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.black-textarea {
  background-color: black;
  color: white;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.imp-margin-bottom {
  margin-bottom: 3.1rem !important;
}
.imp-margin-left {
  margin-left: 1rem !important;
}
.p-card {
  border-radius: 20px;
  box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
  margin: 0.5rem;
}
.predictPage {
  li {
    margin: 1rem;
  }
}
