<div class="container text-center">
  <h1 class="text-center">Predict Tags</h1>
  <div class="row predict-section">
    Enter the Title and Body of the Question in the input field to Predict the tag .We have restricted the input fields to not to be
    empty and also not consist of only numbers.
  </div>
  <div class="row predict-section" >
    <h3 *ngIf="tagPredict.length == 0; else predictTag">Tags we can Predict</h3>
    <ng-template #predictTag> <h3>Tag Predicted is :</h3></ng-template>
    <ul class="list-group list-width">
      <li class="list-group-item" *ngFor="let item of tags" [ngClass]="{ active: tagPredict === item  }">{{item |titlecase}}</li>
    </ul>
  </div>
  <div class="row margin">
    <div class="form-group">
      <span class="p-float-label p-input-icon-right">
        <textarea
          pInputTextarea
          cols="30"
          class="form-control"
          [ngClass]="{ 'ng-invalid': error, 'ng-dirty': error }"
          [(ngModel)]="inputText"
        ></textarea>
        <label for="float-input">{{ error ? errMsg : placeHolder }}</label>
      </span>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-outline-primary round margin"
    (click)="predict()"
  >
    Predict
  </button>
  <div
    class="row"
    style="justify-content: center"
    *ngIf="tagPredict.length != 0"
  >
    <h3>Tag Predicted is :</h3>
    <p-chip label="{{ tagPredict }}"></p-chip>
  </div>
  <p-message
  *ngIf="enableMsg"
  severity="error"
  text="{{ errMsg }}"
  class="msg"
></p-message>
</div>