.round {
  border-radius: 100px;
  font-size: 1.2rem;
}
.predict-section{
  margin-bottom: 1.5rem;
  justify-content: center
}
.list-width {
  width: 50%;
}
.top-padding {
  padding-top: 1rem;
}
.msg {
  width: 25%;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 20px;
}
.p-inline-message.p-inline-message-error,
.p-inline-message.p-inline-message-success {
  width: 100%;
  justify-content: left;
}
.responsive {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}
@media screen and(max-width: 600px) {
.responsive{
  width: 100%;
  height: auto;
}
}