<p-card *ngIf="!isLoading">
  <div *ngIf="!apiError; else error">
    <h3 style="display: flex; justify-content: center">
      {{ tableName }} Values
    </h3>
    <table class="table" [ngStyle]="{ color: this.dTheme ? 'white' : 'black' }">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data</th>
          <th scope="col">Values</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of labels; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item }}</td>
          <td>{{ values[i] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #error>
    <h3 class="text-center">Api error <i class="bi bi-bug"></i></h3>
    <br />
    <div style="text-align: left">
      <h6>Try refresing the page</h6>
      If this appeare again check in the console if you have CORS error if you
      have,You can install the CORS error extension to resolve the CORS error
      <br />
      Even then if you can't resolve the issue please contact us
    </div>
  </ng-template>
</p-card>
<p-card *ngIf="isLoading">
  <p-skeleton width="100%" height="2.5rem" styleClass="mb-2"></p-skeleton>
  <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
  <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
  <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
  <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
</p-card>
